<%= juggernaut(:debug => true,  :client_id => User.current.id) %>

<h1>Listing chat_rooms</h1>

<table>
  <tr>
	<th># of Users</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for chat_room in @chat_rooms %>
  <tr>
	<td></td>
    <td><%=h chat_room.name %></td>
    <td><%=h chat_room.description %></td>
    <td><%= link_to 'Show', {:action => 'show', :id => chat_room} %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => chat_room} %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => chat_room}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chat_room', {:action => 'new'} %>

<br />

<div id="user_list"></div>

<div id="private_messages"></div>