<%= juggernaut(:channels => [@chat_room.id], :client_id => User.current.id, :debug => true) %>

<p><%= link_to 'Back', {:action => 'index'} %></p>

<h1><%=h @chat_room.name %></h1>

<p><%=h @chat_room.description %></p>

<div id="chat_room"></div>

<div id="user_list"></div>

<div id="chat_form">
	<%= form_remote_tag(
	    :url => { :action => :send_data },
	    :complete => "$('chat_input').value = ''" ) %>

		<%= text_field_tag( 'chat_input', '', { :size => '50', :id => 'chat_input'} ) %>
		<%= submit_tag "Chat" %>
	</form>
</div>

<div id="private_messages"></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'chat', :plugin => 'redmine_chat_plugin' %>
  <%= javascript_include_tag 'juggernaut/juggernaut', 'juggernaut/swfobject', 'autoscroll', :plugin => 'redmine_chat_plugin' %>
  <script type="text/javascript" charset="utf-8">
    $$('tr.u-1').each(function(m) {
      m.addClassName('me');
    });
    function scrollChatPanel(room){
  	  div = $(room);			
  	  div.scrollTop = 0xffff;
  	}
  </script>
<% end %>
